/* Site Wide */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #21314D;
    color: #DCDCDC;
    font-family: "Noto Sans", sans-serif;
}

p {
    font-family: "Lato", sans-serif;
    color: #8d99ae;
}

.highlight {
    color: #D2492A;
}

/* Navigation Bar */
.fab {
    color: #DCDCDC;
    font-size: 30px;
    padding-right: 10px;
    transition: all 0.5s;
}

.fab:hover {
    color: #D2492A;
    transform: scale(1.3);
}

.navbar {
    background-color: #21314D;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler:hover .icon-bar {
    background-color: #D2492A;
    transition: 0.5s;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

.icon-bar {
    width: 29px;
    height: 3px;
    background-color: #DCDCDC;
    display: block;
    margin: 5px;
}

.nav-link {
    color: #DCDCDC !important;
    transition: all 0.5s;
    font-size: 18px;
}

.nav-link:hover {
    color: #D2492A !important;
    transform: scale(1.2);
}

/* Intro */
#intro {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#intro h1 {
    line-height: 50px;
}

#intro h1 span {
    color: #8d99ae;
}

@media (min-width: 200px) {
#intro h1 {
    font-size: 35px;
}
#intro h1 span {
    font-size: 20px;
}
}

@media (min-width: 400px) {
#intro h1 {
    font-size: 40px;
}
#intro h1 span {
    font-size: 23px;
}
}

@media (min-width: 600px) {
#intro h1 {
    font-size: 55px;
}
#intro h1 span {
    font-size: 25px;
}
}

@media (min-width: 800px) {
#intro h1 {
    font-size: 65px;
}
#intro h1 span {
    font-size: 28px;
}
}

@media (min-width: 1000px) {
#intro h1 {
    font-size: 75px;
}
#intro h1 span {
    font-size: 30px;
}
}

/* About */
#about {
    margin-top: 200px;
}

#about h2 {
    font-size: 55px;
    text-align: center;
}

#about img {
    margin-top: 50px;
    width: 400px;
    min-width: 75%;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#about p {
    margin-top: 50px;
}